# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
Icon
Icon
auth-server/service_information.txt
test/test-auth-server-copy.html
test/test-auth-server_copy-2.html
auth-server/service_information_and_get_auto_code.txt
auth-server/handler_copy.js
src/setupProxy.js
src/mock-events-2.json
src/mock-events-2.js
meetup.code-workspace
