@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway|Roboto&display=swap');

/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif; */

/* Colors used

Text Color (Gray13): #212121;
Primary Color (Dark Red): #781820;
Secondary Color (DarkSlateGray): #2F4F4F;
Secondary Color (Dark Red): #8B0000;
Quaternary Color (Yellow): #cead00; */

a {
  color: #781820;
  font-size: 2vw;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #cead00;
  text-decoration: none;
}

h1 {
  color: #781820;
  font-size: 3em;
  padding: 0.1em;
  margin: 2px;
}

/* img {
  height: auto;
  width: 90%;
} */

p,
body {
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  /* line-height: ; */
  /* padding-right: 12px; */
  background-color: #eee;
  padding: 0.1em;
  margin: 2px;
}

input.city {
  padding-left: 9px;
  margin-left: 3px;
  height: auto;
  width: 30%;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 0.8em;
  border-radius: 8px;
  flex: 0 0 200px;
}

input.eventsDisplayed {
  padding-left: 6px;
  height: auto;
  width: 25px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 0.8em;
  border-radius: 8px;
  flex: 0 0 200px;
  margin-left: 5px;
}

ul {
  display: inline-block;
  justify-content: center;
  text-align: left;
  color: #781820;
  list-style-type: none;
  /* background: rgba(205, 205, 205, .4); */
  padding: 0.1em;
  margin: 2px;
  max-width: 80%;
}

li {
  text-align: center;
  color: #781820;
  list-style-type: none;
  /* background: rgba(205, 205, 205, .4); */
  padding: 0.1em;
  margin: 2px;
}

/* div that holds everything */
.App {
  /* white-space: pre-wrap; */
  justify-self: center;
  text-align: center;
  width: 25em;
  margin: auto;
  color: #555;
}

.CitySearch,
.NumberOfEvents {
  color: #781820;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}

/* div holds each event */
.eventWrap {
  /* display: inline; */
  /* border: solid red 1px; */
  text-align: left;
  margin-top: 1em;
}

/* div holds event titles */
.eventWrap--name {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  text-align: left;
  padding: 0em;
  margin: 0px;
  /* border: solid green 1px; */
}

/* div holds events dates */
.eventWrap--localDate {
  /* border: solid purple 1px; */
  font-size: 0.8em;
  text-align: left;
  padding: 0em;
  margin: 0px;
  opacity: 0.7;
  color: #555;
}

/* div holds events local_times */
.eventWrap--localTime {
  /* border: solid fuchsia 1px; */
  display: inline;
  text-align: left;
  padding: 0em;
  margin: 0px;
}

.eventDetails {
  /* display: inline; */
  /* border: solid black 1px; */
}

/* holds event description */
.eventDetails--description {
  font-family: 'Roboto', sans-serif;
  font-size: 0.7em;
  text-align: center;
  padding: 0.5em;
  margin: 2px;
  background: radial-gradient(rgb(219, 219, 219), #EEEEEE);
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 4px 4px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 0.7em 'Roboto', sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
  float: right;

  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -ms-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  background-clip: padding-box;
  /* Fix bleeding */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .9);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: #eee;
  color: #555;
}

.button:active {
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.button.small {
  padding: 4px 12px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #781820;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}